<!-- <form class="search-form" id="search-form">
  <input
    type="text"
    name="searchQuery"
    autocomplete="off"
    placeholder="Search images..."
  />
  <button type="submit" class="search-button">Search</button>
</form>

 <div id="gallery">
  <button id="addwarch">Add to watched</button>
  <button class="addqueue">Add to queue</button>
</div> 

<!-- FT-18 За натисканням на кнопку "Add to watched" фільм додається до переглянутих фільмів поточного користувача (local-storage)
FT-19 За натисканням на кнопку "Add to queue" фільм додається до черги поточного користувача (local-storage)  -->
<button class="watched">watched</button>
<button class="queue">queue</button>
<div>
  <div>
    <p class="t">title: "The Last Kingdom"</p>
    <p class="a">author: "Bernard Cornwell"</p>
    <p class="r">rating: 8.38</p>
    <button class="com">добавить в хранилище</button>
    <button class="dra">добавить в список</button>
    <button class="b">удалить</button>
  </div>

  <div>
    <p class="t">title:"На берегу спокойных вод"</p>
    <p class="a">author: "Роберт Шекли"</p>
    <p class="r">rating: 8.51</p>
    <button class="coma">добавить в хранилище</button>
    <button class="dram">добавить в список</button>
    <button class="v">удалить</button>
  </div>
  <div>
    <p class="t">title: "Сон смешного человека"</p>
    <p class="a">author: "Федор Достоевский"</p>
    <p class="r">rating: 7.75</p>
    <button class="comd">добавить в хранилище</button>
    <button class="drama">добавить в список</button>
  </div>
</div>

<!-- <div id="gallery">
   <button id="addwarch">Add to watched</button>
  <button class="addqueue">Add to queue</button> -->
<!-- </div> -->
